.btn-pediloaca{
    background-color: rgb(255, 255, 95);
    color: black;
    border: 1px solid black;
   padding-bottom: 1px;
   font-size: 15px;
}
.btn-pediloaca:hover{
    background-color: lightslategray;
    color:rgb(255, 255, 95);
    border: 1px solid black;
    transform: scale(1.1);
}
